{% set anyCasesNeedAction = triageCaseCount or chargingDecisionNeededCaseCount or chargedCaseCount %}

{% if anyCasesNeedAction %}
  <div class="app-overview-section">
    {# <h2 class="govuk-heading-m">Cases</h2> #}
    <ul class="govuk-list govuk-list--bulle">
      {% if triageCaseCount > 0 %}
        <li>
          <a href="/cases/shortcut/triage" class="govuk-link--no-visited-state">
            {{ triageCaseCount }} {{ triageCaseCount | pluralize("case needs", "cases need") }} triage
          </a>
        </li>
      {% endif %}
      {% if chargingDecisionNeededCaseCount > 0 %}
        <li>
          <a href="/cases/shortcut/charging-decision-needed" class="govuk-link--no-visited-state">
            {{ chargingDecisionNeededCaseCount }} {{ chargingDecisionNeededCaseCount | pluralize("case needs", "cases need") }} a charging decision
          </a>
        </li>
      {% endif %}
      {% if chargedCaseCount > 0 %}
        <li>
          <a href="/cases?caseListFilters[statuses][]=Charged" class="govuk-link--no-visited-state">
            {{ chargedCaseCount }} {{ chargedCaseCount | pluralize("case is", "cases are") }} charged and in hearing
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
