{% if stlCountsByRange.overdue > 0 or stlCountsByRange.today > 0 or stlCountsByRange.tomorrow > 0 or stlCountsByRange.thisWeek > 0 or stlCountsByRange.nextWeek > 0 or stlCountsByRange.later > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">Tasks with a statutory time limit</h2>

    {% if stlCountsByRange.overdue > 0 or stlCountsByRange.today > 0 or stlCountsByRange.tomorrow > 0 %}
      <div class="app-overview-cards govuk-!-margin-bottom-5">       
        {% if stlCountsByRange.overdue > 0 %}
          <a href="/tasks/shortcut/stl-overdue" class="app-overview-card app-overview-card--red">
            <span class="app-overview-card__count">{{stlCountsByRange.overdue}}</span>
            <span class="app-overview-card__status">
              {% if stlCountsByRange.overdue == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              an expired statutory time limit
            </span>
          </a>
        {% endif %}
        {% if stlCountsByRange.today > 0 %}
          <a href="/tasks/shortcut/stl-today" class="app-overview-card app-overview-card--blue">
            <span class="app-overview-card__count">{{stlCountsByRange.today}}</span>
            <span class="app-overview-card__status">
              {% if stlCountsByRange.today == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a statutory time limit ending today
            </span>
          </a>
        {% endif %}
        {% if stlCountsByRange.tomorrow > 0 %}
          <a href="/tasks/shortcut/stl-tomorrow" class="app-overview-card app-overview-card--purple">
            <span class="app-overview-card__count">{{stlCountsByRange.tomorrow}}</span>
            <span class="app-overview-card__status">
              {% if stlCountsByRange.tomorrow == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a statutory time limit ending tomorrow
            </span>
          </a>
        {% endif %}
      </div>
    {% endif %}

    {% if stlCountsByRange.thisWeek > 0 or stlCountsByRange.nextWeek > 0 or stlCountsByRange.later > 0 %}
      <ul class="govuk-list govuk-list--bullet">
        {% if stlCountsByRange.thisWeek > 0 %}
          <li>
            <a href="/tasks/shortcut/stl-this-week">
              {{stlCountsByRange.thisWeek}}
              {% if stlCountsByRange.thisWeek == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a statutory time limit ending this week
            </a>
          </li>
        {% endif %}
        {% if stlCountsByRange.nextWeek > 0 %}
          <li>
            <a href="/tasks/shortcut/stl-next-week">
              {{stlCountsByRange.nextWeek}}
              {% if stlCountsByRange.nextWeek == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a statutory time limit ending next week
            </a>
          </li>
        {% endif %}
        {% if stlCountsByRange.later > 0 %}
          <li>
            <a href="/tasks/shortcut/stl-later">
              {{stlCountsByRange.later}}
              {% if stlCountsByRange.later == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a statutory time limit ending later
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endif %}