{% if ctlCountsByRange.overdue > 0 or ctlCountsByRange.today > 0 or ctlCountsByRange.tomorrow > 0 or ctlCountsByRange.thisWeek > 0 or ctlCountsByRange.nextWeek > 0 or ctlCountsByRange.later > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">Tasks with a custody time limit</h2>

    {% if ctlCountsByRange.overdue > 0 or ctlCountsByRange.today > 0 or ctlCountsByRange.tomorrow > 0 %}
      <div class="app-overview-cards govuk-!-margin-bottom-5">
        {% if ctlCountsByRange.overdue > 0 %}
          <a href="/tasks/shortcut/ctl-overdue" class="app-overview-card app-overview-card--red">
            <span class="app-overview-card__count">{{ctlCountsByRange.overdue}}</span>
            <span class="app-overview-card__status">
              {% if ctlCountsByRange.overdue == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              an expired custody time limit
            </span>
          </a>
        {% endif %}
        {% if ctlCountsByRange.today > 0 %}
          <a href="/tasks/shortcut/ctl-today" class="app-overview-card app-overview-card--blue">
            <span class="app-overview-card__count">{{ctlCountsByRange.today}}</span>
            <span class="app-overview-card__status">
              {% if ctlCountsByRange.today == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a custody time limit ending today
            </span>
          </a>
        {% endif %}
        {% if ctlCountsByRange.tomorrow > 0 %}
          <a href="/tasks/shortcut/ctl-tomorrow" class="app-overview-card app-overview-card--purple">
            <span class="app-overview-card__count">{{ctlCountsByRange.tomorrow}}</span>
            <span class="app-overview-card__status">
              {% if ctlCountsByRange.tomorrow == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a custody time limit ending tomorrow
            </span>
          </a>
        {% endif %}
      </div>
    {% endif %}

    {% if ctlCountsByRange.thisWeek > 0 or ctlCountsByRange.nextWeek > 0 or ctlCountsByRange.later > 0 %}
      <ul class="govuk-list govuk-list--bullet">
        {% if ctlCountsByRange.thisWeek > 0 %}
          <li>
            <a href="/tasks/shortcut/ctl-this-week">
              {{ctlCountsByRange.thisWeek}}
              {% if ctlCountsByRange.thisWeek == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a custody time limit ending this week
            </a>
          </li>
        {% endif %}
        {% if ctlCountsByRange.nextWeek > 0 %}
          <li>
            <a href="/tasks/shortcut/ctl-next-week">
              {{ctlCountsByRange.nextWeek}}
              {% if ctlCountsByRange.nextWeek == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a custody time limit ending next week
            </a>
          </li>
        {% endif %}
        {% if ctlCountsByRange.later > 0 %}
          <li>
            <a href="/tasks/shortcut/ctl-later">
              {{ctlCountsByRange.later}}
              {% if ctlCountsByRange.later == 1 %}
                task has
              {% else %}
                tasks have
              {% endif %}
              a custody time limit ending later
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
    </div>
{% endif %}
