{% if urgentTaskCount > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">Urgent tasks</h2>
    <div class="app-overview-cards govuk-!-margin-bottom-9">
      <a href="/tasks/shortcut/urgent" class="app-overview-card app-overview-card--red">
        <span class="app-overview-card__count">{{urgentTaskCount}}</span>
        <span class="app-overview-card__status">
          urgent
          {% if urgentTaskCount == 1 %}
            task
          {% else %}
            tasks
          {% endif %}
        </span>
      </a>
    </div>
  </div>
{% endif %}
