{% if adminPoolTaskCount > 0 or unitPriorityChargingTaskCount > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">Tasks assigned to your units</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% if adminPoolTaskCount > 0 %}
        <li>
          <a href="/tasks/shortcut/admin-pool" class="govuk-link--no-visited-state">
            {{adminPoolTaskCount}} admin pool
            {% if adminPoolTaskCount == 1 %}
              task
            {% else %}
              tasks
            {% endif %}
          </a>
        </li>
      {% endif %}
      {% if unitPriorityChargingTaskCount > 0 %}
        <li>
          <a href="/tasks/shortcut/unit-priority-charging" class="govuk-link--no-visited-state">
            {{unitPriorityChargingTaskCount}} priority charging
            {% if unitPriorityChargingTaskCount == 1 %}
              task
            {% else %}
              tasks
            {% endif %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
