{% extends "_layouts/main.html" %}

{% set navId = 'paralegalOfficers' %}
{% set pageName = "Paralegal officers (:total)" | replace(':total', totalParalegalOfficers | formatNumber) %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {% include "_includes/paralegal-officer-search-form.njk" %}

    {% if paralegalOfficers.length %}
      <div class="app-list">
        {% for po in paralegalOfficers %}
          <div class="app-list__item">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="/paralegal-officers/{{po.id}}" class="govuk-link--no-visited-state">{{po.firstName}} {{po.lastName}}</a>
            </h2>

            {% set units %}
              {% if po.units.length %}
                {% for item in po.units %}
                  {{item.unit.name}}
                  {%- if not loop.last -%}, {%- endif -%}
                {% endfor %}
              {% else %}
                No units
              {% endif %}
            {% endset %}

            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
              rows: [
                {
                  key: {
                    html: 'Unit'
                  },
                  value: {
                    html: units
                  }
                }
              ]
            })}}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>There are no results.</p>
    {% endif %}

    {% include "_includes/pagination.njk" %}
  </div>
</div>

{% endblock %}
