{% extends "_layouts/main.html" %}
{% set navId = 'paralegalOfficers' %}
{% set pageName = paralegalOfficer.firstName + ' ' + paralegalOfficer.lastName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Paralegal officers",
        href: "/paralegal-officers"
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {% set units %}
        {% if paralegalOfficer.units.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for item in paralegalOfficer.units %}
              <li>
                {{item.unit.name}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No units
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              html: paralegalOfficer.firstName
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              html: paralegalOfficer.lastName
            }
          },
          {
            key: {
              text: "Unit"
            },
            value: {
              html: units
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
