{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Non-compliant DGA cases' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director Guidance Assessment (DGA)",
        href: "/dga-reviews"
      },
      {
        text: monthName,
        href: "/dga-reviews/" + monthKey
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ policeUnitName }}</span>
      <h1 class="govuk-heading-l">{{ pageName }} ({{ totalCases }})</h1>

      {% include "_includes/dga-reviews/search-form.njk" %}

      <div class="app-list">
        {% for _case in cases %}
        <div class="app-list__item">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
            <div>
              <a href="/dga-reviews/{{ monthKey }}/{{ policeUnitId }}/{{ _case.id }}" class="govuk-link--no-visited-state">
                {{ _case.reference }}
              </a>
            </div>
            <div class="app-list__tag">
              {{ govukTag({
                text: _case.reportStatus,
                classes: _case.reportStatus | completionStatusTagClass
              }) }}
            </div>
          </h2>

          {{ govukSummaryList({
            classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
            rows: [
              {
                key: {
                  text: "Total disputes"
                },
                value: {
                  text: _case.outcomesTotal
                }
              },
              {
                key: {
                  text: "Disputes without outcomes"
                },
                value: {
                  text: _case.outcomesNotRecorded
                }
              }
            ]
          }) }}
        </div>
        {% endfor %}
      </div>

      {% include "_includes/pagination.njk" %}

    </div>
  </div>
{% endblock %}
