{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Time" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '/cases/' + _case.id + '/review/first-hearing'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }}</span>

      <form method="post">
        {{ govukInput({
          label: {
            text: pageName,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, 10am or 2:30pm"
          },
          id: "time",
          name: "reviewFirstHearing[time]",
          value: data.reviewFirstHearing.time,
          classes: "govuk-input--width-5"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
