{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Summary of review" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '/cases/' + caseId + '/review'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }}</span>

      <form method="post">
        {{ govukCharacterCount({
          name: "summary",
          id: "summary",
          value: summary,
          label: {
            text: pageName,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          rows: 10,
          maxlength: 2000
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
