{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Summary of review" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: '/cases/' + _case.id + '/review/summary'
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "Summary" },
              value: { text: review.summary if review.summary else "Not provided" },
              actions: {
                items: [{
                  href: '/cases/' + _case.id + '/review/summary',
                  text: "Change",
                  visuallyHiddenText: "summary of review"
                }]
              }
            }
          ]
        })
      }}

      <form method="post">
        {{
          govukRadios({
            name: "complete",
            fieldset: {
              legend: {
                text: "Have you completed this section?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            value: "yes" if review.summaryComplete == true else ("no" if review.summaryComplete == false else ""),
            items: [
              {
                value: "yes",
                text: "Yes, I’ve completed this section"
              },
              {
                value: "no",
                text: "No, I’ll come back to it later"
              }
            ]
          })
        }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
