{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: "/cases/" + _case.id + "/police-requests/new/items"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ _case.reference }} - create police request</span>
      <h1 class="govuk-heading-l">Police request item {{ itemNumber }}</h1>

      <form method="post">
        {{ govukRadios({
          name: "newPoliceRequestItem[category]",
          value: item.category,
          fieldset: {
            legend: {
              text: "Category",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: itemCategoryItems
        }) }}

        {{ govukTextarea({
          name: "newPoliceRequestItem[description]",
          id: "description",
          label: { text: "Description", classes: "govuk-label--m" },
          value: item.description
        }) }}

        {{ govukDateInput({
          id: "dueDate",
          fieldset: {
            legend: {
              text: "Due date",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: { text: "For example, 31 3 2025" },
          items: [
            { name: "newPoliceRequestItem[dueDate][day]", label: "Day", classes: "govuk-input--width-2", value: item.dueDate.day },
            { name: "newPoliceRequestItem[dueDate][month]", label: "Month", classes: "govuk-input--width-2", value: item.dueDate.month },
            { name: "newPoliceRequestItem[dueDate][year]", label: "Year", classes: "govuk-input--width-4", value: item.dueDate.year }
          ]
        }) }}

        {% if defendantItems.length > 1 %}
          {{ govukCheckboxes({
            name: "newPoliceRequestItem[defendants]",
            idPrefix: "defendants",
            fieldset: {
              legend: {
                text: "Defendants",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: defendantItems,
            values: selectedDefendantIds
          }) }}
        {% endif %}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
