{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{task.case.reference}} - Priority PCD review {% endset %}
{% set pageName = "Reason for rejection" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{caption}}</span>
      <form method="post">
        {{ govukCheckboxes({
          name: "completePriorityPcdReview[nfsReasons]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          values: data.completePriorityPcdReview.nfsReasons,
          items: [
            {
              value: "Case Material not correctly received",
              text: "Case Material not correctly received",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Case Material not correctly received]",
                  id: "rejection-details-case-material",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Case Material not correctly received"]
                })
              }
            },
            {
              value: "No/missing Disclosure Schedule",
              text: "No/missing Disclosure Schedule",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][No/missing Disclosure Schedule]",
                  id: "rejection-details-disclosure-schedule",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["No/missing Disclosure Schedule"]
                })
              }
            },
            {
              value: "No MG3",
              text: "No MG3",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][No MG3]",
                  id: "rejection-details-mg3",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["No MG3"]
                })
              }
            },
            {
              value: "No/Incomplete Supervisor's comments",
              text: "No/Incomplete Supervisor's comments",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][No/Incomplete Supervisor's comments]",
                  id: "rejection-details-supervisor-comments",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["No/Incomplete Supervisor's comments"]
                })
              }
            },
            {
              value: "No DV Checklist",
              text: "No DV Checklist",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][No DV Checklist]",
                  id: "rejection-details-dv-checklist",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["No DV Checklist"]
                })
              }
            },
            {
              value: "No/missing MG11s",
              text: "No/missing MG11s",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][No/missing MG11s]",
                  id: "rejection-details-mg11s",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["No/missing MG11s"]
                })
              }
            },
            {
              value: "No/missing Exhibits",
              text: "No/missing Exhibits",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][No/missing Exhibits]",
                  id: "rejection-details-exhibits",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["No/missing Exhibits"]
                })
              }
            },
            {
              value: "No Summary of interview",
              text: "No Summary of interview",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][No Summary of interview]",
                  id: "rejection-details-interview",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["No Summary of interview"]
                })
              }
            },
            {
              value: "Missing Suspect's Previous Convictions",
              text: "Missing Suspect's Previous Convictions",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Missing Suspect's Previous Convictions]",
                  id: "rejection-details-suspect-convictions",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Missing Suspect's Previous Convictions"]
                })
              }
            },
            {
              value: "Missing Victim/Witness Previous Convictions",
              text: "Missing Victim/Witness Previous Convictions",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Missing Victim/Witness Previous Convictions]",
                  id: "rejection-details-witness-convictions",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Missing Victim/Witness Previous Convictions"]
                })
              }
            },
            {
              value: "Hard Media not provided",
              text: "Hard Media not provided",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Hard Media not provided]",
                  id: "rejection-details-hard-media",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Hard Media not provided"]
                })
              }
            },
            {
              value: "Third party material not provided",
              text: "Third party material not provided",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Third party material not provided]",
                  id: "rejection-details-third-party",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Third party material not provided"]
                })
              }
            },
            {
              value: "Incomplete OIC contact details",
              text: "Incomplete OIC contact details",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Incomplete OIC contact details]",
                  id: "rejection-details-oic-details",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Incomplete OIC contact details"]
                })
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
