{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{task.case.reference}} - Priority PCD review {% endset %}
{% set pageName = "Reason for rejection" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{caption}}</span>
      <form method="post">
        {{ govukRadios({
          name: "completePriorityPcdReview[priorityReason]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.completePriorityPcdReview.priorityReason,
          items: [
            {
              value: "Check custody status and resubmit",
              text: "Check custody status and resubmit",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Check custody status and resubmit]",
                  id: "rejection-details-custody",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Check custody status and resubmit"]
                })
              }
            },
            {
              value: "Insufficient information to determine a charging advice",
              text: "Insufficient information to determine a charging advice",
              conditional: {
                html: govukCharacterCount({
                  name: "completePriorityPcdReview[rejectionDetails][Insufficient information to determine a charging advice]",
                  id: "rejection-details-insufficient-info",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completePriorityPcdReview.rejectionDetails["Insufficient information to determine a charging advice"]
                })
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
