.app-page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: govuk-spacing(4);

  &__title {
    [class^=govuk-heading-] {
      margin-bottom: 0;
    }
  }

  &__actions {
    @include govuk-font($size: 19);
  }

  &__action + &__action {
    margin-left: govuk-spacing(3);
  }
}
