{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: "/cases/:caseId/police-requests/:requestId" | replace(':caseId', _case.id) | replace(':requestId', policeRequest.id)
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">Edit police request</h1>

      <form method="post">

        {{ govukTextarea({
          name: "policeRequest[description]",
          id: "description",
          label: {
            text: "Description",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Briefly describe why you are making this request."
          },
          value: policeRequest.description
        }) }}

        {{ govukDateInput({
          id: "sentDate",
          fieldset: {
            legend: {
              text: "Date sent",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: { text: "For example, 31 3 2025" },
          items: [
            { name: "policeRequest[sentDate][day]", label: "Day", classes: "govuk-input--width-2", value: policeRequest.sentDateFields.day },
            { name: "policeRequest[sentDate][month]", label: "Month", classes: "govuk-input--width-2", value: policeRequest.sentDateFields.month },
            { name: "policeRequest[sentDate][year]", label: "Year", classes: "govuk-input--width-4", value: policeRequest.sentDateFields.year }
          ]
        }) }}

        <h2 class="govuk-heading-m">Items requested</h2>

        {% for item in policeRequest.items %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Item {{ loop.index }}
              </legend>

              <input type="hidden" name="policeRequest[items][{{ loop.index0 }}][id]" value="{{ item.id }}">

              {{ govukSelect({
                name: "policeRequest[items][" + loop.index0 + "][category]",
                id: "item-" + loop.index0 + "-category",
                label: { text: "Category" },
                value: item.category,
                items: itemCategoryOptions
              }) }}

              {{ govukInput({
                name: "policeRequest[items][" + loop.index0 + "][description]",
                id: "item-" + loop.index0 + "-description",
                label: { text: "Description" },
                value: item.description
              }) }}

              {{ govukDateInput({
                id: "item-" + loop.index0 + "-dueDate",
                fieldset: {
                  legend: {
                    text: "Due date",
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                hint: { text: "For example, 31 3 2025" },
                items: [
                  { name: "policeRequest[items][" + loop.index0 + "][dueDate][day]", label: "Day", classes: "govuk-input--width-2", value: item.dueDateFields.day },
                  { name: "policeRequest[items][" + loop.index0 + "][dueDate][month]", label: "Month", classes: "govuk-input--width-2", value: item.dueDateFields.month },
                  { name: "policeRequest[items][" + loop.index0 + "][dueDate][year]", label: "Year", classes: "govuk-input--width-4", value: item.dueDateFields.year }
                ]
              }) }}

              {% if defendantItems.length > 1 %}
                {{ govukCheckboxes({
                  name: "policeRequest[items][" + loop.index0 + "][defendants]",
                  idPrefix: "item-" + loop.index0 + "-defendants",
                  fieldset: {
                    legend: {
                      text: "Defendants",
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: defendantItems,
                  values: item.selectedDefendantIds
                }) }}
              {% endif %}
            </fieldset>
          </div>
        {% endfor %}

        {{ govukButton({ text: "Save changes" }) }}
      </form>
    </div>
  </div>
{% endblock %}
