{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = case.reference %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director General Assessment (DGA)",
        href: "/cases/dga"
      },
      {
        text: monthName,
        href: "/cases/dga/" + monthKey
      },
      {
        text: policeUnitName,
        href: "/cases/dga/" + monthKey + "/" + policeUnitSlug
      },
      {
        text: 'Outcomes'
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ case.reference }}</span>
        <h1 class="govuk-heading-l">Outcomes</h1>
        <div class="app-list">
          {% for reason in case.dga.failureReasons %}
            <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                <div>{{ reason.reason }}</div>
                <div class="app-list__tag">
                  {% if reason.outcome %}
                    {{ govukTag({
                      text: "Completed",
                      classes: "govuk-tag--green"
                    }) }}
                  {% endif %}
                </div>
              </h2>

              {% set outcomeActions = [
                {
                  href: "/cases/dga/:caseId/failure-reasons/:reasonId/record-outcome/select" | replace(':caseId', case.id) | replace(':reasonId', reason.id),
                  text: "Record",
                  visuallyHiddenText: "Outcome"
                }
              ] %}
              {% if reason.outcome %}
                {% set outcomeActions = [
                {
                  href: "/cases/dga/:caseId/failure-reasons/:reasonId/record-outcome/select" | replace(':caseId', case.id) | replace(':reasonId', reason.id),
                  text: "Change",
                  visuallyHiddenText: "Outcome"
                }
              ] %}
              {% endif %}


              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: [
                  {
                    key: {
                      text: "Outcome"
                    },
                    value: {
                      text: reason.outcome if reason.outcome else 'Not provided'
                    },
                    actions: {
                      items: outcomeActions
                    }
                  }
                ]
              }) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
