{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = case.reference %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director General Assessment (DGA)",
        href: "/cases/dga"
      },
      {
        text: monthName,
        href: "/cases/dga/" + monthKey
      },
      {
        text: policeUnitName,
        href: "/cases/dga/" + monthKey + "/" + policeUnitSlug
      },
      {
        text: 'Outcomes'
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ case.reference }}</span>
        <h1 class="govuk-heading-l">
          Outcomes
          {% if reportStatus == "Completed" %}
            {{ govukTag({
              text: "Completed",
              classes: "govuk-tag--green"
            }) }}
          {% elif reportStatus == "In progress" %}
            {{ govukTag({
              text: "In progress",
              classes: "govuk-tag--yellow"
            }) }}
          {% else %}
            {{ govukTag({
              text: "Not started"
            }) }}
          {% endif %}
        </h1>

        <p class="govuk-body">{{ outcomesCompleted }} of {{ outcomesTotal }} outcome{{ "s" if outcomesTotal != 1 }} recorded.</p>

        {% for reason in case.dga.failureReasons %}
      
            <h2 class="govuk-heading-m govuk-!-margin-top-7">
              {{ reason.reason }}
            </h2>

            {% if not reason.outcome %}
              {{ govukButton({
                text: "Record outcome",
                href: "/cases/dga/:caseId/failure-reasons/:reasonId/record-outcome/select" | replace(':caseId', case.id) | replace(':reasonId', reason.id)
              }) }}
            {% else %}
              {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Outcome"
                    },
                    value: {
                      text: reason.outcome
                    },
                    actions: {
                      items: [
                        {
                          href: "/cases/dga/:caseId/failure-reasons/:reasonId/record-outcome/select" | replace(':caseId', case.id) | replace(':reasonId', reason.id),
                          text: "Change",
                          visuallyHiddenText: "outcome"
                        }
                      ]
                    }
                  },

                  {
                    key: { text: "Explanation for this decision" },
                    value: { text: reason.details if reason.details else "-" },
                    actions: {
                      items: [
                        {
                          href: "/cases/dga/:caseId/failure-reasons/:reasonId/record-outcome/add-details" | replace(':caseId', case.id) | replace(':reasonId', reason.id),
                          text: "Change",
                          visuallyHiddenText: "explanation"
                        }
                      ]
                    }
                  } if reason.outcome != "Not disputed",

                  {
                    key: { text: "How was the decision made?" },
                    value: { text: reason.methods if reason.methods else "-" },
                    actions: {
                      items: [
                        {
                          href: "/cases/dga/:caseId/failure-reasons/:reasonId/record-outcome/select-methods" | replace(':caseId', case.id) | replace(':reasonId', reason.id),
                          text: "Change",
                          visuallyHiddenText: "methods"
                        }
                      ]
                    }
                  } if reason.outcome != "Not disputed"
                ]
              }) }}
            {% endif %}
          
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
