{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Director General Assessment (DGA)' %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% if months.length === 0 %}
        <p class="govuk-body">No DGA cases found.</p>
      {% else %}
        <div class="app-list">        
          {% for month in months %}
            <div class="app-list__item">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/cases/dga/{{ month.key }}">{{ month.name }}</a></h2>
            
              {% if month.totalCases > 0 %}
                <p class="govuk-body govuk-!-margin-bottom-1">{{ month.totalCases - month.completedCases }} out of {{ month.totalCases }} cases have recorded outcomes.</p>
              {% endif %}
              <p class="govuk-body govuk-!-margin-bottom-0">Record outcomes by {{ month.deadline | isoDateString | govukDateTime }}.</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
