{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = monthName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director General Assessment (DGA)",
        href: "/cases/dga"
      },
      {
        text: monthName
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <span class="govuk-caption-l">Director General Assessment (DGA)</span> #}
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      
      <p>You must record outcomes by {{ deadline | isoDateString | govukDateTime }}.</p>
      

      {% for policeUnit in policeUnits %}
        <div class="app-dga-police-unit govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">
            {{ policeUnit.name }}
            {% if policeUnit.completedCases === policeUnit.totalCases %}
              {{ govukTag({
                text: "Completed",
                classes: 'govuk-tag--green'
              }) }}
            {% elif policeUnit.hasAnyProgress %}
              {{ govukTag({
                text: "In progress",
                classes: 'govuk-tag--yellow'
              }) }}
            {% else %}
              {{ govukTag({
                text: "Not started"
              }) }}
            {% endif %}
          </h2>

          {% if policeUnit.hasSentToPolice %}
            {# <p>Last exported on {{ policeUnit.sentDate | isoDateString | govukDate }}.</p> #}
          {% endif %}

          <div class="govuk-button-group">
            {% if not policeUnit.hasSentToPolice %}
              <a href="/cases/dga/{{ monthKey }}/{{ policeUnit.name | slugify }}/export" class="govuk-link govuk-link--no-visited-state">Export</a>
              <a href="/cases/dga/{{ monthKey }}/{{ policeUnit.name | slugify }}" class="govuk-link govuk-link--no-visited-state">Non-compliant DGA cases</a>
            {% elif policeUnit.completedCases < policeUnit.totalCases %}
              <a href="/cases/dga/{{ monthKey }}/{{ policeUnit.name | slugify }}/export" class="govuk-link govuk-link--no-visited-state">Export</a>
              <a href="/cases/dga/{{ monthKey }}/{{ policeUnit.name | slugify }}" class="govuk-link govuk-link--no-visited-state">Non-compliant DGA cases</a>
            {% else %}
              <a href="/cases/dga/{{ monthKey }}/{{ policeUnit.name | slugify }}/export" class="govuk-link govuk-link--no-visited-state">Export</a>
              <a href="/cases/dga/{{ monthKey }}/{{ policeUnit.name | slugify }}" class="govuk-link govuk-link--no-visited-state">Non-compliant DGA cases</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
